[settings]
github_token = 'yoursecretkeygoeshere'
github_url = "https://api.github.com"
github_owner = "kwoot"
github_repo = "bz2gh"

# Database settings
engine = django.db.backends.postgresql_psycopg2
dbhost = localhost
database = bugzilla
dbuser = username
dbpassword = somethingsecret
port = 5432
